<!DOCTYPE html>
<html>

<head>
  <title>Pokedex Express</title>
  <style>
    table {
      border-collapse: collapse;
      border-spacing: 0px;
    }
    table, td {
      padding: 5px;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Pokedex Express</h1>
  <a href="/">Home</a>
  {{{body}}}
</body>

</html>