<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>Welcome to the online Pokedex!</h1>
    <h1>{{pokemon.name}}</h1>
    <ul>{{pokemon.weight}}</ul>
  </body>
</html>
