<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
    <ul>
      {{ weight }}
    </ul>
    <ul>
      {{#each pokedex}}
        <li>{{this.name}}</li>
      {{/each}}

    </ul>
  </body>
</html>
