<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <!-- only if name is valid -->
    {{#if notfound}}
    <p>Could not find information about {{name}} - Is that a new pokemon? Gotta catch em' all!</p>
    <h1>Pokemon name: {{name}}</h1>
    {{/if}}

    <!-- pokemon not found -->
    {{#unless notfound}}
    <ul>
      <li>Weight: {{weight}}</li>
    </ul>
    {{/if}}

  </body>
</html>
