<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>Welcome to the online Pokedex!</h1>
    <h1>{{name}}</h1>
    <ul>
    	<li>{{{weight}}}</li>
    </ul>
    <p>{{{alert}}}</p>
  </body>
</html>
