<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>Hello, welcome to {{introName}}</h1>
    <h1>Name of pokemon: {{pokemonName}}</h1>
    <ul>
    	<li>Weight of pokemn: {{pokemonWeight}}</li>
    </ul>
  </body>
</html>
