<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon World</title>
  </head>
  <body>
    <h1>Pokemon's Name: {{PokemonName}}</h1>
    <ul>
    	<li>Pokemon's Weight: {{PokemonWeight}}</li>
    </ul>
  </body>
</html>
