<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>{{title}}</h1>
     <ul>
     	{{#each weight}}
    	<li>{{this}}</li>
    	{{/each}}
    </ul>
  </body>
</html>