<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <h1>"Welcome to the online Pokedex!"</h1>

    <h1> {{pokemon_name}} </h1>
    <ul>
      <li> Weight: {{pokemon_weight}} </li>
    </ul>
  </body>
</html>
