<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex Online</title>
  </head>
  <body>
    <h1>Welcome to the online Pokedex!</h1>
    <ul>
      {{#each pokemans}}
        <li><a href="/names/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </body>
</html>
