<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>

  </head>
  <body>
    <h1>"Welcome to the online Pokedex!"</h1>

    <ul>
  		{{#each pokemon}}
  		  <li>{{this}}</li>
  		{{/each}}
		</ul>
  </body>
</html>
