<!DOCTYPE html>
<html>
  <head>
    <title>Got Pokemon?</title>
  </head>
  <body>
    <p>Could not find information about {{requested}} - Is that a new pokemon? Gotta catch 'em all!</p>
  </body>
</html>