<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon World</title>
  </head>
  <body>
    <h1>Invalid Pokemon Name: {{PokemonName}}</h1>
    <ul>
    	<li>Is that a new pokemon? Gotta catch em' all!" </li>
    </ul>
  </body>
</html>