<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon World</title>
  </head>
  <body>
    <h1>Welcome to the Online Pokedex!</h1>
    <ul>
    	{{#each PokemonList}}
    	<li>{{this}}</li>
    	{{/each}}
    </ul>
  </body>
</html>