<!DOCTYPE html>
<html>
  <head>
    <title>Testing a View</title>
  </head>
  <body>
    <p>Could not find information about {{pokemon}} - Is that a new pokemon? Gotta catch em' all!</p>
  </body>
</html>
