<!DOCTYPE html>
<html>
  <head>
    <title>Not found in the Pokedex</title>
  </head>
  <body>
    <p>"Could not find information about {{name}} - 
    Is that a new pokemon? Gotta catch em' all!"</p>
  </body>
</html>
