<html>
	<body>
		<h1>{{type}} type pokemons:</h1>
		<h2>List of pokemons</h2>

		<ul class="pokemon_list">
			{{#each pokemonName}}
    			<li><a href="/name/{{name}}">
    			{{name}}
    			</a></li>
  		 	{{/each}}
		</ul>

	</body>
</html>