<!DOCTYPE html>
<html>
  <head>
    <title>Pokemons of Type: {{type}}</title>
  </head>
  <body>
    <ul>
      {{#each creatures}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </body>
</html>